<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"><![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"><!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>WDD Social | Advanced Server-side Languages</title>
		<meta name="description" content="">
		<meta name="author" content="Anthony Colangelo (http://www.acolangelo.com)">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet/less" href="css/style.less">
	  	<script src="js/libs/modernizr-1.6.min.js"></script>
	  	<script src="js/less-1.0.41.min.js"></script>
	</head>
	<body>
		<section id="wrap">
			<header>
				<h1><a href="dashboard.html" title="WDD Social Home">WDD Social</a></h1>
				 <section id="user-area" class="signed-in">
				 	<p><strong><a href="#" title="View My Profile"><img src="images/avatars/anthony_tiny.jpg" alt="Anthony Colangelo"/>Anthony Colangelo</a></strong></p>
				 	<p><a href="messages.html" title="View My Messages">Messages <span class="badge">3</span></a></p>
				 	<p><a href="form.html" title="View and Edit my Account Information">Account</a></p>
				 	<p><a href="/domains/wddsocial.com/templates/" title="Sign Out of WDD Social">Sign Out</a></p>
				 </section><!-- END USER AREA -->
				<nav>
					<ul>
						<li><a href="directory.html" title="People">People</a></li>
						<li><a href="directory.html" title="Projects">Projects</a></li>
						<li><a href="directory.html" title="Articles">Articles</a></li>
						<li><a href="directory.html" title="Courses">Courses</a></li>
						<li><a href="directory.html" title="Events">Events</a></li>
						<li><a href="directory.html" title="Jobs">Jobs</a></li>
					</ul>
					<form action="search.html" method="get">
						<input type="text" name="term" placeholder="Search..." />
						<input type="submit" value="Search" />
					</form>
				</nav>
			</header>
			<section id="content">
				<section id="course" class="large">
					<h1>Mobile Device Deployment</h1>
					
					<div class="large">
						<h2>Description</h2>
						<p>The Mobile Device Deployment Course examines the practice of creating and delivering web content for mobile devices, including cell phones and PDA&rsquo;s. Students go through the process of producing and optimizing Internet-based content that is compatible with various mobile device operating systems and mobile browsers. This course also explores current techniques for mobile web authoring including XHTML, CSS, DOM, and FlashLite.</p>
					</div><!-- END BIO -->
					<div class="small">
						<h2>Categories</h2>
						<ul>
							<li><a href="#" title="Categories | HTML5">HTML5</a></li>
							<li><a href="#" title="Categories | CSS3">CSS3</a></li>
							<li><a href="#" title="Categories | JavaScript">JavaScript</a></li>
							<li><a href="#" title="Categories | jQuery">jQuery</a></li>
							<li><a href="#" title="Categories | jQuery Mobile">jQuery Mobile</a></li>
						</ul>
					</div><!-- END CATGORIES -->
					<div class="small">
						<h2>Links</h2>
						<ul>
							<li><a href="http://twitter.com/reactivepixel" title="Mobile Device Deployment | Twitter">Twitter</a></li>
						</ul>
					</div><!-- END LINKS -->
					
				</section><!-- END COURSE -->
				
				<section id="teachers" class="small no-margin side-sticky">
					<h1>Teacher</h1>
					<article>
						<p class="item-image"><a href="user.html" title="View Chris Chapman's Profile"><img src="images/avatars/chris_small.jpg" alt="Chris Chapman"/></a></p>
						<h2><a href="user.html" title="View Chris Chapman's Profile">Chris Chapman</a></h2>
						<p>Mobile Packet Gunner.</p>
					</article>
				</section><!-- END TEAM -->
				
				<section id="latest" class="medium with-secondary filterable">
					<h1>Latest</h1>
					<div class="secondary filters">
						<a href="dashboard.html#all" title="Anthony&rsquo;s Latest Activity" class="current">All</a> 
						<a href="dashboard.html#projects" title="Anthony&rsquo;s Latest Projects">Projects</a> 
						<a href="dashboard.html#articles" title="Latest Articles">Articles</a>
					</div><!-- END SECONDARY -->
					
					<article class="projects with-secondary">
						<p class="item-image"><a href="user.html" title="View Your Profile"><img src="images/avatars/anthony_small.jpg" alt="Anthony Colangelo"/></a></p>
						<p class="intro"><strong><a href="user.html" title="View Your Profile">You</a></strong> posted a <strong><a href="project.html" title="The Daily Syndication">project</a></strong>.</p>
						<h2><a href="project.html" title="The Daily Syndication">The Daily Syndication</a></h2>
						<p>The Daily Syndication is an RSS Newspaper that gets delivered right to your desktop, keeping you up to date on all of the latest news.</p>
						<p class="images">
							<a href="project.html" title="The Daily Syndication | Image 1"><img src="images/uploads/dailysyndication01_smedium.jpg" alt="The Daily Syndication | Image 1"/></a>
							<a href="project.html" title="The Daily Syndication | Image 2"><img src="images/uploads/dailysyndication02_smedium.jpg" alt="The Daily Syndication | Image 2"/></a>
							<a href="project.html" title="The Daily Syndication | Image 3"><img src="images/uploads/dailysyndication03_smedium.jpg" alt="The Daily Syndication | Image 3"/></a>
						</p>
						<p class="comments"><a href="project.html#comments" title="The Daily Syndication | Comments">6 comments</a> <span class="hidden">|</span> <span class="time">7 minutes ago</span></p>
						<p class="tags"><a href="#" title="Categories | ActionScript 3.0">ActionScript 3.0</a> <a href="#" title="Categories | Adobe AIR">Adobe AIR</a></p>
						
						<div class="secondary">
							<a href="#" title="Edit &ldquo;The Daily Syndication&rsquo;" class="edit">Edit</a>
							<a href="#" title="Delete &ldquo;The Daily Syndication&rsquo;" class="delete">Delete</a>
						</div><!-- END SECONDARY -->
					</article><!-- END ARTICLE -->
					
					<article class="projects with-secondary">
						<p class="item-image"><a href="user.html" title="View Alicia Brook's Profile"><img src="images/avatars/alicia_small.jpg" alt="Alicia Brooks"</a></p>
						<p class="intro"><strong><a href="user.html" title="View Alicia Brooks's Profile">Alicia Brooks</a></strong> posted a <strong><a href="project.html" title="Tracker">project</a></strong> with <strong><a href="user.html" title="View Your Profile">You</a></strong>, <strong><a href="user.html" title="View Olivier Lacan's Profile">Olivier Lacan</a></strong>, <strong><a href="user.html" title="View Kent Lassen's Profile">Kent Lassen</a></strong>, and <strong><a href="user.html" title="View Tyler Matthews's Profile">Tyler Matthews</a></strong>.</p>
						<h2><a href="project.html" title="Tracker">Tracker</a></h2>
						<p>Tracker allows you to track the time you spend on individual tasks for each of your clients.</p>
						<p class="images">
							<a href="project.html" title="Tracker | Image 1"><img src="images/uploads/tracker01_smedium.jpg" alt="Tracker | Image 1"/></a>
							<a href="project.html" title="Tracker | Image 2"><img src="images/uploads/tracker02_smedium.jpg" alt="Tracker | Image 2"/></a>
							<a href="project.html" title="Tracker | Image 3"><img src="images/uploads/tracker03_smedium.jpg" alt="Tracker | Image 3"/></a>
						</p>
						<p class="comments"><a href="project.html#comments" title="Tracker | Comments">0 comments</a> <span class="hidden">|</span> <span class="time">41 minutes ago</span></p>
						<p class="tags"><a href="#" title="Categories | Flex 4">Flex 4</a> <a href="#" title="Categories | FlexORM">FlexORM</a></p>
						
						<div class="secondary">
							<a href="#" title="Flag &ldquo;Tracker&rsquo;" class="flag">Flag</a>
						</div><!-- END SECONDARY -->
					</article><!-- END ARTICLE -->
					
					<article class="projects with-secondary">
						<p class="item-image"><a href="user.html" title="View Tyler Matthew's Profile"><img src="images/avatars/tyler_small.jpg" alt="Tyler Matthews"/></a></p>
						<p class="intro"><strong><a href="user.html" title="View Tyler Matthew's Profile">Tyler Matthews</a></strong> posted a <strong><a href="project.html" title="Rubrics 2.0">project</a></strong> with <strong><a href="user.html" title="View Your Profile">You</a></strong>, <strong><a href="user.html" title="View Alicia Brooks' Profile">Alicia Brooks</a></strong>, <strong><a href="user.html" title="View Olivier Lacan's Profile">Olivier Lacan</a></strong>, and <strong><a href="user.html" title="View Kent Lassen's Profile">Kent Lassen</a></strong>.</p>
						<h2><a href="project.html" title="Rubrics 2.0">Rubrics 2.0</a></h2>
						<p>Rubrics, featuring an edit-in-place interface, helps teachers create and edit grading rubrics quickly and easily.</p>
						<p class="images">
							<a href="project.html" title="Rubrics 2.0 | Image 1"><img src="images/uploads/rubrics01_smedium.jpg" alt="Rubrics 2.0 | Image 1"/></a>
							<a href="project.html" title="Rubrics 2.0 | Image 2"><img src="images/uploads/rubrics02_smedium.jpg" alt="Rubrics 2.0 | Image 2"/></a>
							<a href="project.html" title="Rubrics 2.0 | Image 3"><img src="images/uploads/rubrics03_smedium.jpg" alt="Rubrics 2.0 | Image 3"/></a>
						</p>
						<p class="comments"><a href="project.html#comments" title="Rubrics 2.0 | Comments">5 comments</a> <span class="hidden">|</span> <span class="time">49 minutes ago</span></p>
						<p class="tags"><a href="#" title="Categories | ColdFusion 9">ColdFusion 9</a> <a href="#" title="Categories | jQuery">jQuery</a></p>
						
						<div class="secondary">
							<a href="#" title="Flag &ldquo;Rubrics 2.0&rsquo;" class="flag">Flag</a>
						</div><!-- END SECONDARY -->
					</article>
					
					<article class="articles with-secondary">
						<p class="item-image"><a href="user.html" title="View Your Profile"><img src="images/avatars/anthony_small.jpg" alt="Anthony Colangelo"/></a></p>
						<p class="intro"><strong><a href="user.html" title="View Your Profile">You</a></strong> wrote an <strong><a href="article.html" title="How I Got My Chance with VaynerMedia">article</a></strong>.</p>
						<h2><a href="article.html" title="How I Got My Chance with VaynerMedia">How I Got My Chance with VaynerMedia</a></h2>
						<p>Recently, VaynerMedia was looking for a new developer. I applied for the position, and was lucky enough to be called back.</p>
						<p class="comments"><a href="article.html#comments" title="How I Got My Chance with VaynerMedia | Comments">8 comments</a> <span class="hidden">|</span> <span class="time">1 hour ago</span></p>
						<p class="tags"><a href="#" title="Categories | Career">Career</a> <a href="#" title="Categories | Development">Development</a></p>
						
						<div class="secondary">
							<a href="#" title="Edit &ldquo;How I Got My Chance with VaynerMedia&rsquo;" class="edit">Edit</a>
							<a href="#" title="Delete &ldquo;How I Got My Chance with VaynerMedia&rsquo;" class="delete">Delete</a>
						</div><!-- END SECONDARY -->
					</article><!-- END ARTICLE -->
					
					<article class="projects with-secondary">
						<p class="item-image"><a href="user.html" title="View Your Profile"><img src="images/avatars/anthony_small.jpg" alt="Anthony Colangelo"/></a></p>
						<p class="intro"><strong><a href="user.html" title="View Your Profile">You</a></strong> posted a <strong><a href="project.html" title="Unity Guitar Tablature">project</a></strong>.</p>
						<h2><a href="project.html" title="Unity Guitar Tablature">Unity Guitar Tablature</a></h2>
						<p>Unity Guitar Tablature is the place to go for quality guitar tablature, featuring easy-to-read, great looking tabs along with great song selection.</p>
						<p class="images">
							<a href="project.html" title="Unity Guitar Tablature | Image 1"><img src="images/uploads/unity01_smedium.jpg" alt="Unity Guitar Tablature | Image 1"/></a>
							<a href="project.html" title="Unity Guitar Tablature | Image 2"><img src="images/uploads/unity02_smedium.jpg" alt="Unity Guitar Tablature | Image 2"/></a>
						</p>
						<p class="comments"><a href="project.html#comments" title="Unity Guitar Tablature | Comments">2 comments</a> <span class="hidden">|</span> <span class="time">2 days ago</span></p>
						<p class="tags"><a href="#" title="Categories | ColdFusion 9">ColdFusion 9</a> <a href="#" title="Categories | MySQL">MySQL</a></p>
						
						<div class="secondary">
							<a href="#" title="Edit &ldquo;Unity Guitar Tablature&rsquo;" class="edit">Edit</a>
							<a href="#" title="Delete &ldquo;Unity Guitar Tablature&rsquo;" class="delete">Delete</a>
						</div><!-- END SECONDARY -->
					</article><!-- END ARTICLE -->
					
					<article class="projects with-secondary">
						<p class="item-image"><a href="user.html" title="View Your Profile"><img src="images/avatars/anthony_small.jpg" alt="Anthony Colangelo"/></a></p>
						<p class="intro"><strong><a href="user.html" title="View Your Profile">You</a></strong> posted a <strong><a href="project.html" title="SpaceThread">project</a></strong>.</p>
						<h2><a href="project.html" title="SpaceThread">SpaceThread</a></h2>
						<p>SpaceThread is a news aggregator, focused on space news, with original articles, as well as links to other sources.</p>
						<p class="images">
							<a href="project.html" title="SpaceThread | Image 1"><img src="images/uploads/spacethread01_smedium.jpg" alt="SpaceThread | Image 1"/></a>
							<a href="project.html" title="SpaceThread | Image 2"><img src="images/uploads/spacethread02_smedium.jpg" alt="SpaceThread | Image 2"/></a>
							<a href="project.html" title="SpaceThread | Image 3"><img src="images/uploads/spacethread03_smedium.jpg" alt="SpaceThread | Image 3"/></a>
						</p>
						<p class="comments"><a href="project.html#comments" title="SpaceThread | Comments">1 comment</a> <span class="hidden">|</span> <span class="time">6 days ago</span></p>
						<p class="tags"><a href="#" title="Categories | XHTML">XHTML</a> <a href="#" title="Categories | CSS">CSS</a></p>
						
						<div class="secondary">
							<a href="#" title="Edit &ldquo;SpaceThread&rsquo;" class="edit">Edit</a>
							<a href="#" title="Delete &ldquo;SpaceThread&rsquo;" class="delete">Delete</a>
						</div><!-- END SECONDARY -->
					</article><!-- END ARTICLE -->
					
					<article class="articles with-secondary">
						<p class="item-image"><a href="user.html" title="View Your Profile"><img src="images/avatars/anthony_small.jpg" alt="Anthony Colangelo"/></a></p>
						<p class="intro"><strong><a href="user.html" title="View Your Profile">You</a></strong> wrote an <strong><a href="article.html" title="The Future of WDD Social">article</a></strong>.</p>
						<h2><a href="article.html" title="The Future of WDD Social">The Future of WDD Social</a></h2>
						<p>Tyler Matthews and I worked extremely hard on phase one of WDD Social. Here&rsquo;s what lies ahead in phase two for the platform.</p>
						<p class="comments"><a href="article.html#comments" title="How I Got My Chance with VaynerMedia | Comments">13 comments</a> <span class="hidden">|</span> <span class="time">1 week ago</span></p>
						<p class="tags"><a href="#" title="Categories | WDD Social">WDD Social</a> <a href="#" title="Categories | Development">Development</a></p>
						
						<div class="secondary">
							<a href="#" title="Edit &ldquo;The Future of WDD Social&rsquo;" class="edit">Edit</a>
							<a href="#" title="Delete &ldquo;The Future of WDD Social&rsquo;" class="delete">Delete</a>
						</div><!-- END SECONDARY -->
					</article><!-- END ARTICLE -->
					
					<article class="projects with-secondary">
						<p class="item-image"><a href="user.html" title="View Your Profile"><img src="images/avatars/anthony_small.jpg" alt="Anthony Colangelo"/></a></p>
						<p class="intro"><strong><a href="user.html" title="View Your Profile">You</a></strong> posted a <strong><a href="project.html" title="Feedbook">project</a></strong>.</p>
						<h2><a href="project.html" title="Feedbook">Feedbook</a></h2>
						<p>FeedBook is an RSS Reader that brings you all of your favorite sources in an easy-to-read and inviting way.</p>
						<p class="images">
							<a href="project.html" title="Feedbook | Image 1"><img src="images/uploads/feedbook01_smedium.jpg" alt="Feedbook | Image 1"/></a>
							<a href="project.html" title="Feedbook | Image 2"><img src="images/uploads/feedbook02_smedium.jpg" alt="Feedbook | Image 2"/></a>
							<a href="project.html" title="Feedbook | Image 3"><img src="images/uploads/feedbook03_smedium.jpg" alt="Feedbook | Image 3"/></a>
						</p>
						<p class="comments"><a href="project.html#comments" title="Feedbook | Comments">4 comments</a> <span class="hidden">|</span> <span class="time">2 weeks ago</span></p>
						<p class="tags"><a href="#" title="Categories | jQuery">jQuery</a> <a href="#" title="Categories | HTML5">HTML5</a></p>
						
						<div class="secondary">
							<a href="#" title="Edit &ldquo;Feedbook&rsquo;" class="edit">Edit</a>
							<a href="#" title="Delete &ldquo;Feedbook&rsquo;" class="delete">Delete</a>
						</div><!-- END SECONDARY -->
					</article><!-- END ARTICLE -->
					
					<p class="load-more"><a href="#" title="Load more posts...">Load More</a></p>
					
				</section><!-- END LATEST -->
				
				<section id="media" class="small with-secondary no-margin">
					<h1>Media</h1>
					<div class="secondary">
						<a href="project.html#images" title="Rubrics 2.0 | Images">Images</a> 
						<a href="project.html#videos" title="Rubrics 2.0 | Videos" class="current">Videos</a> 
					</div><!-- END SECONDARY -->
					
					<!--<div class="images">
						<a href="images/uploads/rubrics01_full.jpg" title="Rubrics 2.0 | Image 1"><img src="images/uploads/rubrics01_smedium.jpg" alt="Rubrics 2.0 | Image 1"/></a>
						<a href="images/uploads/rubrics02_full.jpg" title="Rubrics 2.0 | Image 2"><img src="images/uploads/rubrics02_smedium.jpg" alt="Rubrics 2.0 | Image 2"/></a>
						<a href="images/uploads/rubrics03_full.jpg" title="Rubrics 2.0 | Image 3"><img src="images/uploads/rubrics03_smedium.jpg" alt="Rubrics 2.0 | Image 3"/></a>
					</div>--><!-- END IMAGES -->
					<div class="videos">
						<!-- <iframe title="YouTube Video" width="640" height="390" src="http://www.youtube.com/embed/oG7ltZ4dg2A" frameborder="0" allowfullscreen></iframe> -->
						<iframe src="http://player.vimeo.com/video/20526953" width="400" height="250" frameborder="0"></iframe>
					</div><!-- END VIDEOS -->
				</section><!-- END MEDIA -->
			</section><!-- END CONTENT -->
		</section><!-- END WRAP -->
		<footer>
			<small>&copy; 2011 WDD Social</small>
			<nav>
				<ul>
					<li><a href="#" title="WDD Social | Developer Resources">Developer</a></li>
					<li><a href="#" title="WDD Social | About Us">About</a></li>
					<li><a href="#" title="WDD Social | Contact Us">Contact</a></li>
					<li><a href="#" title="WDD Social | Terms of Service">Terms</a></li>
					<li><a href="#" title="WDD Social | Privacy Policy">Privacy</a></li>
				</ul>
			</nav>
		</footer>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
		<script>!window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-1.4.2.js"%3E%3C/script%3E'))</script>
		<script src="js/plugins.js"></script>
		<script src="js/libs/jquery.easing.1.3.js"></script>
		<script src="js/script.js"></script>
		<!--[if lt IE 7 ]>
			<script src="js/libs/dd_belatedpng.js"></script>
			<script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
		<![endif]-->
	</body>
</html>