<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"><![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"><!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>WDD Social | Welcome, Anthony Colangelo!</title>
		<meta name="description" content="">
		<meta name="author" content="Anthony Colangelo (http://www.acolangelo.com)">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet/less" href="css/style.less">
	  	<script src="js/libs/modernizr-1.6.min.js"></script>
	  	<script src="js/less-1.0.41.min.js"></script>
	</head>
	<body>
		<section id="wrap">
			<header>
				<h1><a href="dashboard.html" title="WDD Social Home">WDD Social</a></h1>
				 <section id="user-area" class="signed-in">
				 	<p><strong><a href="user.html" title="View My Profile"><img src="images/avatars/anthony_tiny.jpg" alt="Anthony Colangelo"/>Anthony Colangelo</a></strong></p>
				 	<p><a href="messages.html" title="View My Messages">Messages <span class="badge">3</span></a></p>
				 	<p><a href="form.html" title="View and Edit my Account Information">Account</a></p>
				 	<p><a href="/domains/wddsocial.com/templates/" title="Sign Out of WDD Social">Sign Out</a></p>
				 </section><!-- END USER AREA -->
				<nav>
					<ul>
						<li><a href="directory.html" title="People">People</a></li>
						<li><a href="directory.html" title="Projects">Projects</a></li>
						<li><a href="directory.html" title="Articles">Articles</a></li>
						<li><a href="directory.html" title="Courses">Courses</a></li>
						<li><a href="directory.html" title="Events">Events</a></li>
						<li><a href="directory.html" title="Jobs">Jobs</a></li>
					</ul>
					<form action="search.html" method="get">
						<input type="text" name="term" placeholder="Search..." />
						<input type="submit" value="Search" />
					</form>
				</nav>
			</header>
			<section id="content" class="dashboard">
				<section id="share" class="small no-margin side-sticky">
					<h1>Share</h1>
					<form action="form.html" method="post">
						<fieldset>
							<label for="title">Title</label>
							<input type="text" name="title" id="title" />
						</fieldset>
						<fieldset class="radio">
							<label>Type</label>
							<div>
								<input type="radio" id="project" name="type" checked />
								<label for="project">Project</label>
								
								<input type="radio" id="article" name="type" />
								<label for="article">Article</label>
								
								<input type="radio" id="event" name="type" />
								<label for="event">Event</label>
								
								<input type="radio" id="job" name="type" />
								<label for="job">Job</label>
							</div>
						</fieldset>
						<input type="submit" value="Create" />
					</form>
				</section><!-- END SHARE -->
				
				<section id="latest" class="medium with-secondary filterable">
					<h1>Latest</h1>
					<div class="secondary filters">
						<a href="dashboard.html#all" title="All Latest Activity" class="current">All</a> 
						<a href="dashboard.html#people" title="Latest People">People</a> 
						<a href="dashboard.html#projects" title="Latest Projects">Projects</a> 
						<a href="dashboard.html#articles" title="Latest Articles">Articles</a>
					</div><!-- END SECONDARY -->
					
					<article class="articles with-secondary">
						<p class="item-image"><a href="user.html" title="View Olivier Lacan's Profile"><img src="images/avatars/olivier_small.jpg" alt="Olivier Lacan"/></a></p>
						<p class="intro"><strong><a href="user.html" title="View Olivier Lacan's Profile">Olivier Lacan</a></strong> wrote an <strong><a href="article.html" title="Tower: Git Client for Mac">article</a></strong>.</p>
						<h2><a href="article.html" title="Tower: Git Client for Mac">Tower: Git Client for Mac</a></h2>
						<p>Tower, the best and easiest to use Git client for Mac just launched today and is offering a great 50% off pricing for students.</p>
						<p class="comments"><a href="article.html#comments" title="Tower: Git Client for Mac | Comments">3 comments</a> <span class="hidden">|</span> <span class="time">2 minutes ago</span></p>
						<p class="tags"><a href="#" title="Categories | Git">Git</a> <a href="#" title="Categories | Apps">Apps</a></p>
						
						<div class="secondary">
							<a href="#" title="Flag &ldquo;Tower: Git Client for Mac&rsquo;" class="flag">Flag</a>
						</div><!-- END SECONDARY -->
					</article><!-- END ARTICLE -->
					
					<article class="projects with-secondary">
						<p class="item-image"><a href="user.html" title="View Your Profile"><img src="images/avatars/anthony_small.jpg" alt="Anthony Colangelo"/></a></p>
						<p class="intro"><strong><a href="user.html" title="View Your Profile">You</a></strong> posted a <strong><a href="project.html" title="The Daily Syndication">project</a></strong>.</p>
						<h2><a href="project.html" title="The Daily Syndication">The Daily Syndication</a></h2>
						<p>The Daily Syndication is an RSS Newspaper that gets delivered right to your desktop, keeping you up to date on all of the latest news.</p>
						<p class="images">
							<a href="project.html" title="The Daily Syndication | Image 1"><img src="images/uploads/dailysyndication01_smedium.jpg" alt="The Daily Syndication | Image 1"/></a>
							<a href="project.html" title="The Daily Syndication | Image 2"><img src="images/uploads/dailysyndication02_smedium.jpg" alt="The Daily Syndication | Image 2"/></a>
							<a href="project.html" title="The Daily Syndication | Image 3"><img src="images/uploads/dailysyndication03_smedium.jpg" alt="The Daily Syndication | Image 3"/></a>
						</p>
						<p class="comments"><a href="project.html#comments" title="The Daily Syndication | Comments">6 comments</a> <span class="hidden">|</span> <span class="time">7 minutes ago</span></p>
						<p class="tags"><a href="#" title="Categories | ActionScript 3.0">ActionScript 3.0</a> <a href="#" title="Categories | Adobe AIR">Adobe AIR</a></p>
						
						<div class="secondary">
							<a href="#" title="Delete &ldquo;The Daily Syndication&rsquo;" class="delete">Delete</a>
						</div><!-- END SECONDARY -->
					</article><!-- END ARTICLE -->
					
					<article class="articles with-secondary">
						<p class="item-image"><a href="user.html" title="View Champ Long's Profile"><img src="images/avatars/champ_small.jpg" alt="Champ Long"/></a></p>
						<p class="intro"><strong><a href="user.html" title="View Champ Long's Profile">Champ Long</a></strong> wrote an <strong><a href="article.html" title="Some Nonsense That Doesn&rsquo;t Go Here">article</a></strong>.</p>
						<h2><a href="article.html" title="Some Nonsense That Doesn&rsquo;t Go Here">Some Nonsense That Doesn&rsquo;t Go Here</a></h2>
						<p>This is some nonsense article that doesn&rsquo;t belong.</p>
						<p class="comments"><a href="article.html#comments" title="Some Nonsense That Doesn&rsquo;t Go Here | Comments">0 comments</a> <span class="hidden">|</span> <span class="time">9 minutes ago</span></p>
						<p class="tags"><a href="#" title="Categories | Iowa">Iowa</a> <a href="#" title="Categories | Baseball">Baseball</a></p>
						
						<div class="secondary">
							<a href="#" title="Flag &ldquo;Some Nonsense That Doesn&rsquo;t Go Here&rsquo;" class="flag current">Flag</a>
						</div><!-- END SECONDARY -->
					</article><!-- END ARTICLE -->
					
					<article class="articles with-secondary">
						<p class="item-image"><a href="user.html" title="View Andrew Smith's Profile"><img src="images/avatars/andrew_small.jpg" alt="Andrew Smith"/></a></p>
						<p class="intro"><strong><a href="user.html" title="View Andrew Smith's Profile">Andrew Smith</a></strong> wrote an <strong><a href="article.html" title="Life at EnvyLabs">article</a></strong>.</p>
						<h2><a href="article.html" title="Life at EnvyLabs">Life at EnvyLabs</a></h2>
						<p>I&rsquo;ve been working at EnvyLabs since graduation, and I love it. People always ask what it&rsquo;s like there, so here it is.</p>
						<p class="comments"><a href="article.html#comments" title="Why I Decided Rails is my Future | Comments">8 comments</a> <span class="hidden">|</span> <span class="time">13 minutes ago</span></p>
						<p class="tags"><a href="#" title="Categories | Rails">Rails</a> <a href="#" title="Categories | Ruby">Ruby</a></p>
						
						<div class="secondary">
							<a href="#" title="Flag &ldquo;Life at EnvyLabs&rsquo;" class="flag">Flag</a>
						</div><!-- END SECONDARY -->
					</article><!-- END ARTICLE -->
					
					<article class="people">
						<p class="item-image"><a href="user.html" title="View Brandon Brown's Profile"><img src="images/avatars/brandon_small.jpg" alt="Brandon Brown"/></a></p>
						<p class="intro"><strong><a href="user.html" title="View Brandon Brown's Profile">Brandon Brown</a></strong> joined the community.</p>
						<p>A design geek from North Jersey. No, I&rsquo;m not like those Jersey Shore guidos.</p>
						<p>17 minutes ago</p>
					</article><!-- END ARTICLE -->
					
					<article class="projects with-secondary">
						<p class="item-image"><a href="user.html" title="View Zachary Nicoll's Profile"><img src="images/avatars/zach_small.jpg" alt="Zachary Nicoll"</a></p>
						<p class="intro"><strong><a href="user.html" title="View Zachary Nicoll's Profile">Zachary Nicoll</a></strong> posted a <strong><a href="project.html" title="Firehouse Mobile">project</a></strong> with <strong><a href="user.html" title="View Olivier Lacan's Profile">Olivier Lacan</a></strong> and <strong><a href="user.html" title="View Andrew Smith's Profile">Andrew Smith</a></strong>.</p>
						<h2><a href="project.html" title="Firehouse Mobile">Firehouse Mobile</a></h2>
						<p>We all love Firehouse sandwiches, and now you can order on the go for quick pick-up.</p>
						<p class="images">
							<a href="project.html" title="Firehouse Mobile | Image 1"><img src="images/uploads/firehouse01_smedium.jpg" alt="Firehouse Mobile | Image 1"/></a>
							<a href="project.html" title="Firehouse Mobile | Image 2"><img src="images/uploads/firehouse02_smedium.jpg" alt="Firehouse Mobile | Image 2"/></a>
							<a href="project.html" title="Firehouse Mobile | Image 3"><img src="images/uploads/firehouse03_smedium.jpg" alt="Firehouse Mobile | Image 3"/></a>
						</p>
						<p class="comments"><a href="project.html#comments" title="Firehouse Mobile | Comments">13 comments</a> <span class="hidden">|</span> <span class="time">25 minutes ago</span></p>
						<p class="tags"><a href="#" title="Categories | Rails">Rails</a> <a href="#" title="Categories | jQuery">jQuery</a></p>
						
						<div class="secondary">
							<a href="#" title="Flag &ldquo;Firehouse Mobile&rsquo;" class="flag">Flag</a>
						</div><!-- END SECONDARY -->
					</article><!-- END ARTICLE -->
					
					<article class="articles with-secondary">
						<p class="item-image"><a href="user.html" title="View Olivier Lacan's Profile"><img src="images/avatars/olivier_small.jpg" alt="Olivier Lacan"/></a></p>
						<p class="intro"><strong><a href="user.html" title="View Olivier Lacan's Profile">Olivier Lacan</a></strong> wrote an <strong><a href="article.html" title="Why I Decided Rails is my Future">article</a></strong>.</p>
						<h2><a href="article.html" title="Why I Decided Rails is my Future">Why I Decided Rails is my Future</a></h2>
						<p>As most of you know, I&rsquo;m in love with Ruby on Rails. If you&rsquo;re wondering why I chose it as my future, here&rsquo;s your answer.</p>
						<p class="comments"><a href="article.html#comments" title="Why I Decided Rails is my Future | Comments">4 comments</a> <span class="hidden">|</span> <span class="time">36 minutes ago</span></p>
						<p class="tags"><a href="#" title="Categories | Rails">Rails</a> <a href="#" title="Categories | Ruby">Ruby</a></p>
						
						<div class="secondary">
							<a href="#" title="Flag &ldquo;Why I Decided Rails is my Future&rsquo;" class="flag">Flag</a>
						</div><!-- END SECONDARY -->
					</article><!-- END ARTICLE -->
					
					<article class="projects with-secondary">
						<p class="item-image"><a href="user.html" title="View Alicia Brook's Profile"><img src="images/avatars/alicia_small.jpg" alt="Alicia Brooks"</a></p>
						<p class="intro"><strong><a href="user.html" title="View Alicia Brooks's Profile">Alicia Brooks</a></strong> posted a <strong><a href="project.html" title="Tracker">project</a></strong> with <strong><a href="user.html" title="View Your Profile">You</a></strong>, <strong><a href="user.html" title="View Olivier Lacan's Profile">Olivier Lacan</a></strong>, <strong><a href="user.html" title="View Kent Lassen's Profile">Kent Lassen</a></strong>, and <strong><a href="user.html" title="View Tyler Matthews's Profile">Tyler Matthews</a></strong>.</p>
						<h2><a href="project.html" title="Tracker">Tracker</a></h2>
						<p>Tracker allows you to track the time you spend on individual tasks for each of your clients.</p>
						<p class="images">
							<a href="project.html" title="Tracker | Image 1"><img src="images/uploads/tracker01_smedium.jpg" alt="Tracker | Image 1"/></a>
							<a href="project.html" title="Tracker | Image 2"><img src="images/uploads/tracker02_smedium.jpg" alt="Tracker | Image 2"/></a>
							<a href="project.html" title="Tracker | Image 3"><img src="images/uploads/tracker03_smedium.jpg" alt="Tracker | Image 3"/></a>
						</p>
						<p class="comments"><a href="project.html#comments" title="Tracker | Comments">0 comments</a> <span class="hidden">|</span> <span class="time">41 minutes ago</span></p>
						<p class="tags"><a href="#" title="Categories | Flex 4">Flex 4</a> <a href="#" title="Categories | FlexORM">FlexORM</a></p>
						
						<div class="secondary">
							<a href="#" title="Flag &ldquo;Tracker&rsquo;" class="flag">Flag</a>
						</div><!-- END SECONDARY -->
					</article><!-- END ARTICLE -->
					
					<article class="projects with-secondary">
						<p class="item-image"><a href="user.html" title="View Tyler Matthew's Profile"><img src="images/avatars/tyler_small.jpg" alt="Tyler Matthews"/></a></p>
						<p class="intro"><strong><a href="user.html" title="View Tyler Matthew's Profile">Tyler Matthews</a></strong> posted a <strong><a href="project.html" title="Rubrics 2.0">project</a></strong> with <strong><a href="user.html" title="View Your Profile">You</a></strong>, <strong><a href="user.html" title="View Alicia Brooks' Profile">Alicia Brooks</a></strong>, <strong><a href="user.html" title="View Olivier Lacan's Profile">Olivier Lacan</a></strong>, and <strong><a href="user.html" title="View Kent Lassen's Profile">Kent Lassen</a></strong>.</p>
						<h2><a href="project.html" title="Rubrics 2.0">Rubrics 2.0</a></h2>
						<p>Rubrics, featuring an edit-in-place interface, helps teachers create and edit grading rubrics quickly and easily.</p>
						<p class="images">
							<a href="project.html" title="Rubrics 2.0 | Image 1"><img src="images/uploads/rubrics01_smedium.jpg" alt="Rubrics 2.0 | Image 1"/></a>
							<a href="project.html" title="Rubrics 2.0 | Image 2"><img src="images/uploads/rubrics02_smedium.jpg" alt="Rubrics 2.0 | Image 2"/></a>
							<a href="project.html" title="Rubrics 2.0 | Image 3"><img src="images/uploads/rubrics03_smedium.jpg" alt="Rubrics 2.0 | Image 3"/></a>
						</p>
						<p class="comments"><a href="project.html#comments" title="Rubrics 2.0 | Comments">5 comments</a> <span class="hidden">|</span> <span class="time">49 minutes ago</span></p>
						<p class="tags"><a href="#" title="Categories | ColdFusion 9">ColdFusion 9</a> <a href="#" title="Categories | jQuery">jQuery</a></p>
						
						<div class="secondary">
							<a href="#" title="Flag &ldquo;Rubrics 2.0&rsquo;" class="flag">Flag</a>
						</div><!-- END SECONDARY -->
					</article>
					
					<article class="articles with-secondary">
						<p class="item-image"><a href="user.html" title="View Your Profile"><img src="images/avatars/anthony_small.jpg" alt="Anthony Colangelo"/></a></p>
						<p class="intro"><strong><a href="user.html" title="View Your Profile">You</a></strong> wrote an <strong><a href="article.html" title="How I Got My Chance with VaynerMedia">article</a></strong>.</p>
						<h2><a href="article.html" title="How I Got My Chance with VaynerMedia">How I Got My Chance with VaynerMedia</a></h2>
						<p>Recently, VaynerMedia was looking for a new developer. I applied for the position, and was lucky enough to be called back.</p>
						<p class="comments"><a href="article.html#comments" title="How I Got My Chance with VaynerMedia | Comments">8 comments</a> <span class="hidden">|</span> <span class="time">1 hour ago</span></p>
						<p class="tags"><a href="#" title="Categories | Career">Career</a> <a href="#" title="Categories | Development">Development</a></p>
						
						<div class="secondary">
							<a href="#" title="Delete &ldquo;How I Got My Chance with VaynerMedia&rsquo;" class="delete">Delete</a>
						</div><!-- END SECONDARY -->
					</article><!-- END ARTICLE -->
					
					<article class="people">
						<p class="item-image"><a href="user.html" title="View Zachary Nicoll's Profile"><img src="images/avatars/zach_small.jpg" alt="Zachary Nicoll"/></a></p>
						<p class="intro"><strong><a href="user.html" title="View Zachary Nicoll's Profile">Zachary Nicoll</a></strong> joined the community.</p>
						<p>The Turtle. An Oklahoma-native who loves elegant code, doorless Jeep Wranglers, and swords.</p>
						<p>1 hour ago</p>
					</article><!-- END ARTICLE -->
					
					<p class="load-more"><a href="#" title="Load more posts...">Load More</a></p>
					
				</section><!-- END LATEST -->
				
				<section id="events" class="small no-margin side-sticky">
					<h1>Events</h1>
					<article class="with-secondary">
						<p class="item-image"><a href="files/ics/test.ics" title="Download Web Final Presentation .ics File" class="calendar-icon">
							<span class="month">MAR</span> 
							<span class="day">31</span> 
							<span class="download"><img src="images/site/icon-download.png" alt="Download iCal File"/>iCal</span>
						</a></p>
						<h2><a href="event.html" title="Web Final Presentations">Web Final Presentations</a></h2>
						<p class="location">Full Sail 3B - Auditorium</p>
						<p>11:00 AM</p>
						<p>Join us and see exciting final projects from the April 2011 graduating class.</p>
						<p class="comments"><a href="event.html#comments" title="Web Final Presentations | Comments">4 comments</a></p>
						<p class="tags"><a href="#" title="Categories | Career">Career</a> <a href="#" title="Categories | Development">Development</a></p>
						
						<div class="secondary">
							<a href="#" title="Flag &ldquo;Web Final Presentations&rsquo;" class="flag">Flag</a>
						</div><!-- END SECONDARY -->
					</article>
					
					<article class="with-secondary">
						<p class="item-image"><a href="files/ics/test.ics" title="Download FSFPUG April 2011 .ics File" class="calendar-icon">
							<span class="month">APR</span> 
							<span class="day">12</span> 
							<span class="download"><img src="images/site/icon-download.png" alt="Download iCal File"/>iCal</span>
						</a></p>
						<h2><a href="event.html" title="FSFPUG April 2011">FSFPUG April 2011</a></h2>
						<p class="location">Full Sail 4A - 135</p>
						<p>6:00 PM</p>
						<p>Can Flash and HTML5 play nice? Come hear Sean Bernath talk about a utopian web society, in which all technologies get along.</p>
						<p class="comments"><a href="event.html#comments" title="FSFPUG April 2011 | Comments">2 comments</a></p>
						<p class="tags"><a href="#" title="Categories | Flash">Flash</a> <a href="#" title="Categories | HTML5">HTML5</a></p>
						
						<div class="secondary">
							<a href="#" title="Flag &ldquo;FSFPUG April 2011&rsquo;" class="flag">Flag</a>
						</div><!-- END SECONDARY -->
					</article>
					
					<article class="with-secondary">
						<p class="item-image"><a href="files/ics/test.ics" title="Download WDD Social Launch Party .ics File" class="calendar-icon">
							<span class="month">JUN</span> 
							<span class="day">2</span> 
							<span class="download"><img src="images/site/icon-download.png" alt="Download iCal File"/>iCal</span>
						</a></p>
						<h2><a href="event.html" title="WDD Social Launch Party">WDD Social Launch Party</a></h2>
						<p class="location">Full Sail 3B - Auditorium</p>
						<p>11:00 AM</p>
						<p>Socialize. Join us to celebrate the launch of WDD Social. Meet, talk, eat, drink, and win schwag.</p>
						<p class="comments"><a href="event.html#comments" title="WDD Social Launch Party | Comments">6 comments</a></p>
						<p class="tags"><a href="#" title="Categories | WDD Social">WDD Social</a> <a href="#" title="Categories | Launch">Launch</a></p>
						
						<div class="secondary">
							<a href="#" title="Delete &ldquo;WDD Social Launch Party&rsquo;" class="delete">Delete</a>
						</div><!-- END SECONDARY -->
					</article>
				</section><!-- END EVENTS -->
				
				<section id="jobs" class="small no-margin side-sticky">
					<h1>Jobs</h1>
					<article class="with-secondary">
						<p class="item-image"><a href="http://envylabs.com/" title="EnvyLabs"><img src="images/avatars/envylabs_small.jpg" alt="EnvyLabs"/></a></p>
						<h2><a href="job.html" title="Top-Shelf Designer | EnvyLabs">Top-Shelf Designer</a></h2>
						<p class="company"><a href="http://envylabs.com/" title="EnvyLabs">EnvyLabs</a></p>
						<p>Orlando, FL</p>
						<p>We are looking for a top-shelf to designer to join our diverse and highly-skilled team.</p>
						<p class="job-type"><a href="jobs.html#full-time" title="See Full-time Job Postings">Full-time</a></p>
						<p class="tags"><a href="#" title="Categories | Design">Design</a> <a href="#" title="Categories | Usability">Usability</a></p>
						
						<div class="secondary">
							<a href="#" title="Flag &ldquo;Web Final Presentations&rsquo;" class="flag">Flag</a>
						</div><!-- END SECONDARY -->
					</article>
					
					<article class="with-secondary">
						<p class="item-image"><a href="http://happycog.com/" title="Happy Cog"><img src="images/avatars/happycog_small.jpg" alt="Happy Cog"/></a></p>
						<h2><a href="job.html" title="Front-end Developer | Happy Cog">Front-end Developer</a></h2>
						<p class="company"><a href="http://happycog.com/" title="Happy Cog">Happy Cog</a></p>
						<p>Philadelphia, PA</p>
						<p>Our Philadelphia branch is rapidly growing, and we are looking for a front-end developer to join our amazing team.</p>
						<p class="job-type"><a href="jobs.html#full-time" title="See Full-time Job Postings">Full-time</a></p>
						<p class="tags"><a href="#" title="Categories | HTML5">HTML5</a> <a href="#" title="Categories | jQuery">jQuery</a></p>
						
						<div class="secondary">
							<a href="#" title="Flag &ldquo;Web Final Presentations&rsquo;" class="flag">Flag</a>
						</div><!-- END SECONDARY -->
					</article>
					
					<article class="with-secondary">
						<p class="item-image"><a href="http://google.com/" title="Google"><img src="images/avatars/google_small.jpg" alt="Google"/></a></p>
						<h2><a href="job.html" title="PHP Developer | Google">PHP Developer</a></h2>
						<p class="company"><a href="http://google.com/" title="Google">Google</a></p>
						<p>Mountain View, CA</p>
						<p>We are looking for a highly-skilled PHP Developer to join our team as we develop new systems and projects.</p>
						<p class="job-type"><a href="jobs.html#full-time" title="See Full-time Job Postings">Full-time</a></p>
						<p class="tags"><a href="#" title="Categories | PHP">PHP</a> <a href="#" title="Categories | OOP">OOP</a></p>
						
						<div class="secondary">
							<a href="#" title="Flag &ldquo;Web Final Presentations&rsquo;" class="flag">Flag</a>
						</div><!-- END SECONDARY -->
					</article>
				</section><!-- END JOBS -->
			</section><!-- END CONTENT -->
		</section><!-- END WRAP -->
		<footer>
			<small>&copy; 2011 WDD Social</small>
			<nav>
				<ul>
					<li><a href="#" title="WDD Social | Developer Resources">Developer</a></li>
					<li><a href="#" title="WDD Social | About Us">About</a></li>
					<li><a href="#" title="WDD Social | Contact Us">Contact</a></li>
					<li><a href="#" title="WDD Social | Terms of Service">Terms</a></li>
					<li><a href="#" title="WDD Social | Privacy Policy">Privacy</a></li>
				</ul>
			</nav>
		</footer>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
		<script>!window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-1.4.2.js"%3E%3C/script%3E'))</script>
		<script src="js/plugins.js"></script>
		<script src="js/libs/jquery.easing.1.3.js"></script>
		<script src="js/script.js"></script>
		<!--[if lt IE 7 ]>
			<script src="js/libs/dd_belatedpng.js"></script>
			<script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
		<![endif]-->
	</body>
</html>