<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"><![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"><!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>WDD Social | Projects</title>
		<meta name="description" content="">
		<meta name="author" content="Anthony Colangelo (http://www.acolangelo.com)">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="images/site/social-favicon.ico">
		<link rel="apple-touch-icon" href="images/site/social-apple-touch-icon.png">
		<link rel="stylesheet/less" href="css/style.less">
	  	<script src="js/libs/modernizr-1.6.min.js"></script>
	  	<script src="js/less-1.0.41.min.js"></script>
	</head>
	<body>
		<section id="wrap">
			<header>
				<h1><a href="dashboard.html" title="WDD Social Home">WDD Social</a></h1>
				 <section id="user-area" class="signed-in">
				 	<p><strong><a href="#" title="View My Profile"><img src="images/avatars/anthony_tiny.jpg" alt="Anthony Colangelo"/>Anthony Colangelo</a></strong></p>
				 	<p><a href="messages.html" title="View My Messages">Messages <span class="badge">3</span></a></p>
				 	<p><a href="form.html" title="View and Edit my Account Information">Account</a></p>
				 	<p><a href="/domains/wddsocial.com/templates/" title="Sign Out of WDD Social">Sign Out</a></p>
				 </section><!-- END USER AREA -->
				<nav>
					<ul>
						<li><a href="directory.html" title="People">People</a></li>
						<li><a href="directory.html" title="Projects" class="current">Projects</a></li>
						<li><a href="directory.html" title="Articles">Articles</a></li>
						<li><a href="directory.html" title="Courses">Courses</a></li>
						<li><a href="directory.html" title="Events">Events</a></li>
						<li><a href="directory.html" title="Jobs">Jobs</a></li>
					</ul>
					<form action="search.html" method="get">
						<input type="text" name="term" placeholder="Search..." />
						<input type="submit" value="Search" />
					</form>
				</nav>
			</header>
			<section id="content">
				<section id="directory" class="mega with-secondary">
					<h1>Projects</h1>
					
					<div class="secondary">
						<a href="directory.html#alphabetically" title="Sort Alphabetically">Alphabetically</a> 
						<a href="directory.html#videos" title="Sort by Newest" class="current">Newest</a> 
						<a href="directory.html#videos" title="Sort by Oldest">Oldest</a>
					</div><!-- END SECONDARY -->
					
					<article class="with-secondary">
						<p class="item-image"><a href="project.html" title="The Daily Syndication"><img src="images/uploads/dailysyndication01_small.jpg" alt="The Daily Syndication - Screenshot"/></a></p>
						<h2><a href="project.html" title="The Daily Syndication">The Daily Syndication</a></h2>
						<p><a href="user.html" title="View Your Profile">You</a></p>
						<p>The Daily Syndication is an RSS Newspaper that gets delivered right to your desktop, keeping you up to date on all of the latest news.</p>
						<p class="comments"><a href="project.html#comments" title="The Daily Syndication | Comments">6 comments</a> <span class="hidden">|</span> <span class="time">7 minutes ago</span></p>
						
						<div class="secondary">
							<a href="#" title="Edit &ldquo;The Daily Syndication&rsquo;" class="edit">Edit</a>
							<a href="#" title="Delete &ldquo;The Daily Syndication&rsquo;" class="delete">Delete</a>
						</div><!-- END SECONDARY -->
					</article><!-- END ARTICLE -->
					
					<article class="with-secondary">
						<p class="item-image"><a href="project.html" title="Firehouse Mobile"><img src="images/uploads/firehouse01_small.jpg" alt="Firehouse Mobile - Screenshot"/></a></p>
						<h2><a href="project.html" title="Firehouse Mobile">Firehouse Mobile</a></h2>
						<p><a href="user.html" title="View Olivier Lacan's Profile">Olivier Lacan</a>, <a href="user.html" title="View Zachary Nicoll's Profile">Zachary Nicoll</a>, and <a href="user.html" title="View Andrew Smith's Profile">Andrew Smith</a></p>
						<p>We all love Firehouse sandwiches, and now you can order on the go for quick pick-up.</p>
						<p class="comments"><a href="project.html#comments" title="Firehouse Mobile | Comments">13 comments</a> <span class="hidden">|</span> <span class="time">25 minutes ago</span></p>
						
						<div class="secondary">
							<a href="#" title="Flag &ldquo;Firehouse Mobile&rsquo;" class="flag">Flag</a>
						</div><!-- END SECONDARY -->
					</article><!-- END ARTICLE -->
					
					<article class="with-secondary">
						<p class="item-image"><a href="project.html" title="Tracker"><img src="images/uploads/tracker01_small.jpg" alt="Tracker - Screenshot"/></a></p>
						<h2><a href="project.html" title="Tracker">Tracker</a></h2>
						<p><a href="user.html" title="View Your Profile">You</a>, <a href="user.html" title="View Alicia Brooks's Profile">Alicia Brooks</a>, <a href="user.html" title="View Olivier Lacan's Profile">Olivier Lacan</a>, <a href="user.html" title="View Kent Lassen's Profile">Kent Lassen</a>, and <a href="user.html" title="View Tyler Matthews's Profile">Tyler Matthews</a></p>
						<p>Tracker allows you to track the time you spend on individual tasks for each of your clients.</p>
						<p class="comments"><a href="project.html#comments" title="Tracker | Comments">0 comments</a> <span class="hidden">|</span> <span class="time">41 minutes ago</span></p>
						
						<div class="secondary">
							<a href="#" title="Flag &ldquo;Tracker&rsquo;" class="flag">Flag</a>
						</div><!-- END SECONDARY -->
					</article><!-- END ARTICLE -->
					
					<article class="with-secondary">
						<p class="item-image"><a href="project.html" title="Rubrics 2.0"><img src="images/uploads/rubrics01_small.jpg" alt="Rubrics - Screenshot"/></a></p>
						<h2><a href="project.html" title="Rubrics 2.0">Rubrics 2.0</a></h2>
						<p><a href="user.html" title="View Your Profile">You</a>, <a href="user.html" title="View Alicia Brooks's Profile">Alicia Brooks</a>, <a href="user.html" title="View Olivier Lacan's Profile">Olivier Lacan</a>, <a href="user.html" title="View Kent Lassen's Profile">Kent Lassen</a>, and <a href="user.html" title="View Tyler Matthews's Profile">Tyler Matthews</a></p>
						<p>Rubrics, featuring an edit-in-place interface, helps teachers create and edit grading rubrics quickly and easily.</p>
						<p class="comments"><a href="project.html#comments" title="Rubrics | Comments">5 comments</a> <span class="hidden">|</span> <span class="time">49 minutes ago</span></p>
						
						<div class="secondary">
							<a href="#" title="Flag &ldquo;Rubrics 2.0&rsquo;" class="flag">Flag</a>
						</div><!-- END SECONDARY -->
					</article><!-- END ARTICLE -->
					
					<article class="with-secondary">
						<p class="item-image"><a href="project.html" title="Unity Guitar Tablature"><img src="images/uploads/unity01_small.jpg" alt="Unity Guitar Tablature - Screenshot"/></a></p>
						<h2><a href="project.html" title="Unity Guitar Tablature">Unity Guitar Tablature</a></h2>
						<p><a href="user.html" title="View Your Profile">You</a></p>
						<p>Unity Guitar Tablature is the place to go for quality guitar tablature, featuring easy-to-read, great looking tabs along with great song selection.</p>
						<p class="comments"><a href="project.html#comments" title="Unity Guitar Tablature | Comments">2 comments</a> <span class="hidden">|</span> <span class="time">2 days ago</span></p>
						
						<div class="secondary">
							<a href="#" title="Edit &ldquo;Unity Guitar Tablature&rsquo;" class="edit">Edit</a>
							<a href="#" title="Delete &ldquo;Unity Guitar Tablature&rsquo;" class="delete">Delete</a>
						</div><!-- END SECONDARY -->
					</article><!-- END ARTICLE -->
					
					<article class="with-secondary">
						<p class="item-image"><a href="project.html" title="SpaceThread"><img src="images/uploads/spacethread01_small.jpg" alt="SpaceThread - Screenshot"/></a></p>
						<h2><a href="project.html" title="SpaceThread">SpaceThread</a></h2>
						<p><a href="user.html" title="View Your Profile">You</a></p>
						<p>SpaceThread is a news aggregator, focused on space news, with original articles, as well as links to other sources.</p>
						<p class="comments"><a href="project.html#comments" title="Unity Guitar Tablature | Comments">1 comments</a> <span class="hidden">|</span> <span class="time">6 days ago</span></p>
						
						<div class="secondary">
							<a href="#" title="Edit &ldquo;SpaceThread&rsquo;" class="edit">Edit</a>
							<a href="#" title="Delete &ldquo;SpaceThread&rsquo;" class="delete">Delete</a>
						</div><!-- END SECONDARY -->
					</article><!-- END ARTICLE -->
					
					<!--<article>
						<p class="item-image"><a href="project.html" title="FeedBook"><img src="images/uploads/feedbook01_small.jpg" alt="FeedBook - Screenshot"/></a></p>
						<h2><a href="project.html" title="FeedBook">FeedBook</a></h2>
						<p><a href="user.html" title="View Your Profile">You</a></p>
						<p>FeedBook is an RSS Reader that brings you all of your favorite sources in an easy-to-read and inviting way.</p>
						<p class="comments"><a href="project.html#comments" title="FeedBook | Comments">4 comments</a> <span class="hidden">|</span> <span class="time">2 weeks ago</span></p>
					</article>--><!-- END ARTICLE -->
					
					<nav class="pagination">
						<a href="#" title="Projects| Page 1" class="current">1</a>
						<a href="#" title="Projects| Page 2">2</a>
						<a href="#" title="Projects| Page 3">3</a>
						<a href="#" title="Projects| Page 4">4</a>
						<a href="#" title="Projects| Page 5">5</a>
						<a href="#" title="Projects| Page 6">6</a>
						<a href="#" title="Projects| Page 7">7</a>
						<a href="#" title="Projects| Page 8">8</a>
						<a href="#" title="Projects| Page 9">9</a>
						<a href="#" title="Projects| Page 10">10</a>
						<a href="#" title="Projects| Next Page">Next</a>
						<a href="#" title="Projects| Last Page">Last</a>
					</nav><!-- END PAGINATION -->
				</section><!-- END DIRECTORY -->
			</section><!-- END CONTENT -->
		</section><!-- END WRAP -->
		<footer>
			<nav>
				<ul>
					<li><a href="#" title="WDD Social | Developer Resources">Developer</a></li>
					<li><a href="#" title="WDD Social | About Us">About</a></li>
					<li><a href="#" title="WDD Social | Contact Us">Contact</a></li>
					<li><a href="#" title="WDD Social | Terms of Service">Terms</a></li>
					<li><a href="#" title="WDD Social | Privacy Policy">Privacy</a></li>
				</ul>
			</nav>
			<small>&copy; 2011 WDD Social</small>
		</footer>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
		<script>!window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-1.4.2.js"%3E%3C/script%3E'))</script>
		<script src="js/plugins.js"></script>
		<script src="js/libs/jquery.easing.1.3.js"></script>
		<script src="js/script.js"></script>
		<!--[if lt IE 7 ]>
			<script src="js/libs/dd_belatedpng.js"></script>
			<script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
		<![endif]-->
	</body>
</html>