<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"><![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"><!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>WDD Social | Templates</title>
		<meta name="description" content="">
		<meta name="author" content="Anthony Colangelo (http://www.acolangelo.com)">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet/less" href="css/style.less">
	  	<script src="js/libs/modernizr-1.6.min.js"></script>
	  	<script src="js/less-1.0.41.min.js"></script>
	</head>
	<body>
		<section id="wrap">
			<header>
				<h1><a href="index.html" title="WDD Social Home">WDD Social</a></h1>
				<section id="user-area" class="signed-out">
					<p><a href="#" title="Sign Up for WDD Social">Sign Up</a></p>
					<p><a href="#" title="Sign In to WDD Social">Sign In</a></p>
				</section><!-- END USER AREA -->
				<nav>
					<ul>
						<li><a href="#" title="People">People</a></li>
						<li><a href="#" title="Projects">Projects</a></li>
						<li><a href="#" title="Articles">Articles</a></li>
						<li><a href="#" title="Courses">Courses</a></li>
						<li><a href="#" title="Events">Events</a></li>
						<li><a href="#" title="Jobs">Jobs</a></li>
					</ul>
					<form action="#" method="get">
						<input type="text" name="term" placeholder="Search..." />
						<input type="submit" value="Search" />
					</form>
				</nav>
			</header>
			<section id="content">
			
				<section id="projects" class="large slider">
					<h1>Projects</h1>
					<div class="slider-controls"><a href="#" title="Featured Project 1" class="current">1</a> <a href="#" title="Featured Project 2">2</a> <a href="#" title="Featured Project 3">3</a> <a href="#" title="Featured Project 4">4</a> <a href="#" title="Featured Project 5">5</a></div>
					<article class="slider-item">
						<p class="item-image"><a href="projects/rubrics2" title="Rubrics 2.0"><img src="images/uploads/rubrics01_medium.jpg" alt="Rubrics 2.0 Sreenshot" /></a></p>
						<h2><a href="projects/rubrics2" title="Rubrics 2.0">Rubrics 2.0</a></h2>
						<p><a href="users/aliciaj" title="View Alicia Brooks' Profile">Alicia Brooks</a>, <a href="users/olivierlacan" title="View Olivier Lacan's Profile">Olivier Lacan</a>, <a href="users/kentlassen" title="View Kent Lassen's Profile">Kent Lassen</a>, <a href="users/tyler" title="View Tyler Matthews' Profile">Tyler Matthews</a>, and <a href="users/anthony" title="View Anthony Colangelo's Profile">Anthony Colangelo</a></p>
						<p>Rubrics, featuring an edit-in-place interface, helps teachers create and edit grading rubrics quickly and easily.</p>
						<p class="comments"><a href="projects/rubrics2#comments" title="Rubrics 2.0 | Comments">5 comments</a></p>
						<p class="tags"><a href="categories/ColdFusion9" title="Categories | ColdFusion 9">ColdFusion 9</a> <a href="categories/jQuery" title="Categories | jQuery">jQuery</a></p>
					</article><!-- END SLIDER ITEM -->
				</section><!-- END PROJECTS -->
				
				<section id="sign-in" class="small no-margin">
					<h1>Sign In</h1>
					<form action="dashboard.html" method="post">
						<fieldset>
							<label for="email">Email</label>
							<input type="email" name="email" id="email" />
						</fieldset>
						<fieldset>
							<label for="password">Password</label>
							<p class="helper-link"><a href="#" title="Did you forget your password?" tabindex="1000">Forgot?</a></p>
							<input type="password" name="password" id="password" />
						</fieldset>
						<p class="helper-link"><a href="#" title="Not yet a member of WDD Social? Sign up here." tabindex="1000">Not yet a member?</a></p>
						<input type="submit" value="Sign In" />
					</form>
				</section><!-- END SIGN IN -->
				
				<section id="people" class="small image-grid">
					<h1>People</h1>
					<p><a href="users/tyler" title="View Tyler Matthew's Profile"><img src="images/avatars/tyler_smedium.jpg" alt="Tyler Matthews"/></a></p>
					<p><a href="users/chapman" title="View Chris Chapman's Profile"><img src="images/avatars/chris_smedium.jpg" alt="Chris Chapman"/></a></p>
					<p><a href="users/olivier" title="View Olivier Lacan's Profile"><img src="images/avatars/olivier_smedium.jpg" alt="Olivier Lacan"/></a></p>
					<p><a href="users/caleb" title="View Caleb May's Profile"><img src="images/avatars/caleb_smedium.jpg" alt="Caleb May"/></a></p>
					
					<p><a href="users/andrew" title="View Andrew Smith's Profile"><img src="images/avatars/andrew_smedium.jpg" alt="Andrew Smith"/></a></p>
					<p><a href="users/brandon" title="View Brandon Brown's Profile"><img src="images/avatars/brandon_smedium.jpg" alt="Brandon Brown"/></a></p>
					<p><a href="users/champ" title="View Champ Long's Profile"><img src="images/avatars/champ_smedium.jpg" alt="Champ Long"/></a></p>
					<p><a href="users/robknight" title="View Rob Knight's Profile"><img src="images/avatars/rob_smedium.jpg" alt="Rob Knight"/></a></p>
					
					<p><a href="users/anthony" title="View Anthony Colangelo's Profile"><img src="images/avatars/anthony_smedium.jpg" alt="Anthony Colangelo"/></a></p>
					<p><a href="users/johnpatsos" title="View John Patsos's Profile"><img src="images/avatars/john_smedium.jpg" alt="John Patsos"/></a></p>
					<p><a href="users/aliciaj" title="View Alicia Brooks' Profile"><img src="images/avatars/alicia_smedium.jpg" alt="Alicia Brooks"/></a></p>
					<p><a href="users/benlaube" title="View Ben Laube's Profile"><img src="images/avatars/ben_smedium.jpg" alt="Ben Laube"/></a></p>
					
					<p><a href="users/turtle" title="View Zachary Nicoll's Profile"><img src="images/avatars/zach_smedium.jpg" alt="Zachary Nicoll"/></a></p>
					<p><a href="users/smiles" title="View Jerry Jones' Profile"><img src="images/avatars/jerry_smedium.jpg" alt="Jerry Jones"/></a></p>
					<p><a href="users/briangelhaus" title="View Brian Gelhaus' Profile"><img src="images/avatars/brian_smedium.jpg" alt="Brian Gelhaus"/></a></p>
					<p><a href="users/roberthimler" title="View Robert Himler's Profile"><img src="images/avatars/robert_smedium.jpg" alt="Robert Himler"/></a></p>
				</section><!-- END PEOPLE FOREVER -->
				
				<section id="articles" class="small slider">
					<h1>Articles</h1>
					<div class="slider-controls"><a href="#" title="Featured Articles 1" class="current">1</a> <a href="#" title="Featured Articles 2">2</a> <a href="#" title="Featured Articles 3">3</a> <a href="#" title="Featured Articles 4">4</a> <a href="#" title="Featured Articles 5">5</a></div>
					<article class="slider-item">
						<p class="item-image"><a href="users/olivier" title="View Olivier Lacan's Profile"><img src="images/avatars/olivier_small.jpg" alt="Olivier Lacan"/></a></p>
						<h2><a href="articles/tower" title="">Tower: Git Client for Mac</a></h2>
						<p><a href="users/olivier" title="View Olivier Lacan's Profile">Olivier Lacan</a></p>
						<p>Tower, the best and easiest to use Git client for Mac just launched today and is offering a great 50% off pricing for students.</p>
						<p class="comments"><a href="articles/tower#comments" title="Tower: Git Client for Mac | Comments">3 comments</a></p>
						<p class="tags"><a href="categories/Git" title="Categories | Git">Git</a> <a href="categories/Apps" title="Categories | Apps">Apps</a></p>
					</article><!-- END SLIDER ITEM -->
					<article class="slider-item">
						<p class="item-image"><a href="users/anthony" title="View Anthony Colangelo's Profile"><img src="images/avatars/anthony_small.jpg" alt="Anthony Colangelo" /></a></p>
						<h2><a href="articles/vaynermedia" title="How I Got My Chance with VaynerMedia">How I Got My Chance with VaynerMedia</a></h2>
						<p><a href="users/anthony" title="View Anthony Colangelo's Profile">Anthony Colangelo</a></p>
						<p>Recently, VaynerMedia was looking for a new developer. I applied for the position, and was lucky enough to be called back.</p>
						<p class="comments"><a href="articles/vaynermedia#comments" title="How I Got My Chance with VaynerMedia | Comments">8 comments</a></p>
						<p class="tags"><a href="categories/Career" title="Categories | Career">Career</a> <a href="categories/Development" title="Categories | Development">Development</a></p>
					</article><!-- END SLIDER ITEM -->
				</section><!-- END ARTICLES -->
				
				<section id="events" class="small slider no-margin">
					<h1>Events</h1>
					<div class="slider-controls"><a href="#" title="Featured Events 1" class="current">1</a> <a href="#" title="Featured Events 2">2</a> <a href="#" title="Featured Events 3">3</a> <a href="#" title="Featured Events 4">4</a> <a href="#" title="Featured Events 5">5</a></div>
					<article class="slider-item">
						<p class="item-image"><a href="files/ics/test.ics" title="Download Web Final Presentation .ics File" class="calendar-icon">
							<span class="month">MAR</span> 
							<span class="day">31</span> 
							<span class="download"><img src="images/site/icon-download.png" alt="Download iCal File"/>iCal</span>
						</a></p>
						<h2><a href="events/finalpresentations" title="Web Final Presentations">Web Final Presentations</a></h2>
						<p class="location">Full Sail 3B - Auditorium</p>
						<p>11:00 AM</p>
						<p>Join us and see exciting final projects from the April 2011 graduating class.</p>
						<p class="comments"><a href="events/finalpresentation#comments" title="Web Final Presentations | Comments">4 comments</a></p>
						<p class="tags"><a href="categories/career" title="Categories | Career">Career</a> <a href="categories/development" title="Categories | Development">Development</a></p>
					</article><!-- END SLIDER ITEM -->
					<article class="slider-item">
						<p class="item-image"><a href="files/ics/test.ics" title="Download FSFPUG April 2011 .ics File" class="calendar-icon">
							<span class="month">APR</span> 
							<span class="day">12</span> 
							<span class="download"><img src="images/site/icon-download.png" alt="Download iCal File"/>iCal</span>
						</a></p>
						<h2><a href="events/fsfpugApril2011" title="FSFPUG April 2011">FSFPUG April 2011</a></h2>
						<p class="location">Full Sail 4A - 135</p>
						<p>6:00 PM</p>
						<p>Can Flash and HTML5 play nice? Come hear Sean Bernath talk about a utopian web society, in which all technologies get along.</p>
						<p class="comments"><a href="events/fsfpugApril2011#comments" title="FSFPUG April 2011 | Comments">2 comments</a></p>
						<p class="tags"><a href="categories/flash" title="Categories | Flash">Flash</a> <a href="categories/html5" title="Categories | HTML5">HTML5</a></p>
					</article><!-- END SLIDER ITEM -->
				</section><!-- END EVENTS -->
				
			</section><!-- END CONTENT -->
		</section><!-- END WRAP -->
		<footer>
			<small>&copy; 2011 WDD Social</small>
			<nav>
				<ul>
					<li><a href="#" title="WDD Social | Developer Resources">Developer</a></li>
					<li><a href="#" title="WDD Social | About Us">About</a></li>
					<li><a href="#" title="WDD Social | Contact Us">Contact</a></li>
					<li><a href="#" title="WDD Social | Terms of Service">Terms</a></li>
					<li><a href="#" title="WDD Social | Privacy Policy">Privacy</a></li>
				</ul>
			</nav>
		</footer>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
		<script>!window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-1.4.2.js"%3E%3C/script%3E'))</script>
		<script src="js/plugins.js"></script>
		<script src="js/script.js"></script>
		<!--[if lt IE 7 ]>
			<script src="js/libs/dd_belatedpng.js"></script>
			<script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
		<![endif]-->
	</body>
</html>