<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"><![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"><!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>WDD Social | Rubrics 2.0</title>
		<meta name="description" content="">
		<meta name="author" content="Anthony Colangelo (http://www.acolangelo.com)">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="images/site/social-favicon.ico">
		<link rel="apple-touch-icon" href="images/site/social-apple-touch-icon.png">
		<link rel="stylesheet/less" href="css/style.less">
	  	<script src="js/libs/modernizr-1.6.min.js"></script>
	  	<script src="js/less-1.0.41.min.js"></script>
	</head>
	<body>
		<section id="wrap">
			<header>
				<h1><a href="dashboard.html" title="WDD Social Home">WDD Social</a></h1>
				 <section id="user-area" class="signed-in">
				 	<p><strong><a href="#" title="View My Profile"><img src="images/avatars/anthony_tiny.jpg" alt="Anthony Colangelo"/>Anthony Colangelo</a></strong></p>
				 	<p><a href="messages.html" title="View My Messages">Messages <span class="badge">3</span></a></p>
				 	<p><a href="form.html" title="View and Edit my Account Information">Account</a></p>
				 	<p><a href="/domains/wddsocial.com/templates/" title="Sign Out of WDD Social">Sign Out</a></p>
				 </section><!-- END USER AREA -->
				<nav>
					<ul>
						<li><a href="directory.html" title="People">People</a></li>
						<li><a href="directory.html" title="Projects">Projects</a></li>
						<li><a href="directory.html" title="Articles">Articles</a></li>
						<li><a href="directory.html" title="Courses">Courses</a></li>
						<li><a href="directory.html" title="Events">Events</a></li>
						<li><a href="directory.html" title="Jobs">Jobs</a></li>
					</ul>
					<form action="search.html" method="get">
						<input type="text" name="term" placeholder="Search..." />
						<input type="submit" value="Search" />
					</form>
				</nav>
			</header>
			<section id="content">
				<section id="project" class="large with-secondary">
					<h1>Rubrics 2.0</h1>
					
					<div class="secondary">
						<a href="#" title="Flag &ldquo;Rubrics 2.0&rsquo;" class="flag">Flag</a>
					</div><!-- END SECONDARY -->
					
					<img src="images/uploads/rubrics01_large.jpg" alt="Rubrics 2.0 Screenshot" />
					
					<div class="large no-margin">
						<h2>Description</h2>
						<p>Rubrics, featuring an edit-in-place interface, helps teachers create and edit grading rubrics quickly and easily.</p>
						<p>Completed in <strong>November, 2010</strong> for <strong><a href="course.html" title="Advanced Server-side Languages">ASL</a></strong>.</p>
						<p>Posted 49 minutes ago</p>
					</div><!-- END BIO -->
					
					<div class="small">
						<h2>Categories</h2>
						<ul>
							<li><a href="#" title="Categories | HTML5">HTML5</a></li>
							<li><a href="#" title="Categories | CSS3">CSS3</a></li>
							<li><a href="#" title="Categories | JavaScript">JavaScript</a></li>
							<li><a href="#" title="Categories | jQuery">jQuery</a></li>
							<li><a href="#" title="Categories | ColdFusion 9">ColdFusion 9</a></li>
							<li><a href="#" title="Categories | MySQL">MySQL</a></li>
						</ul>
					</div><!-- END CATGORIES -->
					<div class="small no-margin">
						<h2>Links</h2>
						<ul>
							<li><a href="#" title="Rubrics 2.0 | View Project">View Project</a></li>
							<li><a href="https://github.com/constantvariable/rubrics" title="Rubrics 2.0 | Github Repository">Github Repository</a></li>
						</ul>
					</div><!-- END LINKS -->
					
					<section class="content">
						<p>Rapidiously communicate economically sound internal or organic sources after bleeding-edge opportunities. Continually predominate sustainable metrics and dynamic infomediaries. Credibly coordinate an expanded array of outsourcing and economically sound customer service.</p>
						<p>Enthusiastically leverage existing granular intellectual capital for process-centric web-readiness. Globally network low-risk high-yield information through quality metrics. Collaboratively leverage other's extensive content before robust interfaces.</p>
						<p>Conveniently supply orthogonal scenarios whereas effective results. Interactively fashion enterprise potentialities whereas prospective niches. Credibly reintermediate revolutionary quality vectors without integrated core competencies.</p>
						<p>Compellingly leverage other's reliable human capital via open-source e-commerce. Appropriately enable compelling applications vis-a-vis user-centric web-readiness. Monotonectally develop long-term high-impact initiatives vis-a-vis standards compliant information. Synergistically evolve go forward expertise via focused ROI. Synergistically synthesize multidisciplinary models before excellent best practices. Objectively maintain compelling platforms for team driven opportunities.</p>
						<p>Efficiently expedite intermandated ROI without multimedia based customer service. Proactively provide access to timely architectures whereas best-of-breed partnerships. Quickly benchmark high standards in niche markets whereas interactive value.</p>
						<p>Distinctively enhance multimedia based users whereas ethical outsourcing. Synergistically architect fully researched communities vis-a-vis technically sound technology. Intrinsicly engineer diverse schemas after world-class niche markets. Seamlessly monetize end-to-end e-services rather than viral scenarios. Objectively incentivize adaptive data and progressive customer service. Phosfluorescently impact transparent bandwidth without bleeding-edge supply chains.</p>
						<p>Energistically coordinate fully tested "outside the box" thinking before value-added bandwidth. Proactively optimize alternative services after ubiquitous testing procedures. Dynamically procrastinate magnetic innovation rather than business ideas.</p>
					</section><!-- END CONTENT -->
				</section><!-- END PROJECT -->
				
				<section id="team" class="small no-margin side-sticky">
					<h1>Team</h1>
					<ul>
						<li>
							<a href="user.html" title="View Alicia Brooks' Profile">
							<img src="images/avatars/alicia_small.jpg" alt="Alicia Brooks" />
							<p><strong>Alicia Brooks</strong> Front&dash;end Developer</p>
							</a>
						</li>
						<li>
							<a href="user.html" title="View Anthony Colangelo's Profile">
							<img src="images/avatars/anthony_small.jpg" alt="Anthony Colangelo" />
							<p><strong>Anthony Colangelo</strong> Back&dash;end Developer, Designer</p>
							</a>
						</li>
						<li>
							<a href="user.html" title="View Olivier Lacan's Profile">
							<img src="images/avatars/olivier_small.jpg" alt="Olivier Lacan" />
							<p><strong>Olivier Lacan</strong> Front&dash;end Developer</p>
							</a>
						</li>
						<li>
							<a href="user.html" title="View Kent Lassen's Profile">
							<img src="images/avatars/kent_small.jpg" alt="Kent Lassen" />
							<p><strong>Kent Lassen</strong> Front&dash;end Developer</p>
							</a>
						</li>
						<li>
							<a href="user.html" title="View Tyler Matthews' Profile">
							<img src="images/avatars/tyler_small.jpg" alt="Tyler Matthews" />
							<p><strong>Tyler Matthews</strong> Back&dash;end Developer</p>
							</a>
						</li>
					</ul>
				</section><!-- END TEAM -->
				
				<section id="media" class="small with-secondary no-margin">
					<h1>Media</h1>
					<div class="secondary">
						<a href="project.html#images" title="Rubrics 2.0 | Images" class="current">Images</a> 
						<a href="project.html#videos" title="Rubrics 2.0 | Videos">Videos</a>
					</div><!-- END SECONDARY -->
					
					<div class="images">
						<a href="images/uploads/rubrics01_full.jpg" title="Rubrics 2.0 | Image 1"><img src="images/uploads/rubrics01_smedium.jpg" alt="Rubrics 2.0 | Image 1"/></a>
						<a href="images/uploads/rubrics02_full.jpg" title="Rubrics 2.0 | Image 2"><img src="images/uploads/rubrics02_smedium.jpg" alt="Rubrics 2.0 | Image 2"/></a>
						<a href="images/uploads/rubrics03_full.jpg" title="Rubrics 2.0 | Image 3"><img src="images/uploads/rubrics03_smedium.jpg" alt="Rubrics 2.0 | Image 3"/></a>
					</div><!-- END IMAGES -->
					<!--<div class="videos">
						<iframe title="YouTube Video" width="640" height="390" src="http://www.youtube.com/embed/oG7ltZ4dg2A" frameborder="0" allowfullscreen></iframe>
						<iframe title="Vimeo Video" src="http://player.vimeo.com/video/6520763" frameborder="0"></iframe>
					</div>--><!-- END VIDEOS -->
				</section><!-- END MEDIA -->
				
				<section id="comments" class="medium with-secondary">
					<h1>Comments</h1>
					<div class="secondary">
						<p>7 comments</p> 
					</div><!-- END SECONDARY -->
					
					<article class="with-secondary">
						<p class="item-image"><a href="user.html" title="View Andrew Smith's Profile"><img src="images/avatars/andrew_small.jpg" alt="Andrew Smith"/></a></p>
						<h2><a href="user.html" title="View Andrew Smith's Profile">Andrew Smith</a></h2>
						<p>First!</p>
						<p class="comments">40 minutes ago</p>
						
						<div class="secondary">
							<a href="#" title="Flag &ldquo;Andrew Smith&rsquo;s Comment&rdquo;" class="flag">Flag</a>
						</div><!-- END SECONDARY -->
					</article>
					
					<article class="with-secondary">
						<p class="item-image"><a href="user.html" title="View Brandon Brown's Profile"><img src="images/avatars/brandon_small.jpg" alt="Brandon Brown"/></a></p>
						<h2><a href="user.html" title="View Brandon Brown's Profile">Brandon Brown</a></h2>
						<p>Objectively visualize client-centric architectures before timely supply chains. Phosfluorescently conceptualize exceptional meta-services before client-centered communities. Holisticly evisculate e-business collaboration and idea-sharing whereas functional infrastructures.</p>
						<p class="comments">36 minutes ago</p>
						
						<div class="secondary">
							<a href="#" title="Flag &ldquo;Brandon Brown&rsquo;s Comment&rdquo;" class="flag">Flag</a>
						</div><!-- END SECONDARY -->
					</article>
					
					<article class="with-secondary">
						<p class="item-image"><a href="user.html" title="View Alicia Brooks' Profile"><img src="images/avatars/alicia_small.jpg" alt="Alicia Brooks"/></a></p>
						<h2><a href="user.html" title="View Alicia Brooks' Profile">Alicia Brooks</a></h2>
						<p>Collaboratively evolve one-to-one niches rather than cross-platform functionalities.</p>
						<p class="comments">31 minutes ago</p>
						
						<div class="secondary">
							<a href="#" title="Flag &ldquo;Alicia Brooks&rsquo; Comment&rdquo;" class="flag">Flag</a>
						</div><!-- END SECONDARY -->
					</article>
					
					<article class="with-secondary">
						<p class="item-image"><a href="user.html" title="View Ben Laube's Profile"><img src="images/avatars/ben_small.jpg" alt="Ben Laube"/></a></p>
						<h2><a href="user.html" title="View Ben Laube's Profile">Ben Laube</a></h2>
						<p>Conveniently supply orthogonal scenarios whereas effective results. Interactively fashion enterprise potentialities whereas prospective niches.</p>
						<p class="comments">27 minutes ago</p>
						
						<div class="secondary">
							<a href="#" title="Flag &ldquo;Ben Laube&rsquo;s Comment&rdquo;" class="flag">Flag</a>
						</div><!-- END SECONDARY -->
					</article>
					
					<article class="with-secondary">
						<p class="item-image"><a href="user.html" title="View Caleb May's Profile"><img src="images/avatars/caleb_small.jpg" alt="Caleb May"/></a></p>
						<h2><a href="user.html" title="View Caleb May's Profile">Caleb May</a></h2>
						<p>Completely recaptiualize accurate vortals before adaptive manufactured products. Monotonectally reinvent cutting-edge outsourcing rather than focused materials.</p>
						<p class="comments">22 minutes ago</p>
						
						<div class="secondary">
							<a href="#" title="Flag &ldquo;Caleb May&rsquo;s Comment&rdquo;" class="flag">Flag</a>
						</div><!-- END SECONDARY -->
					</article>
					
					<article class="with-secondary">
						<p class="item-image"><a href="user.html" title="View Jerry Jones' Profile"><img src="images/avatars/jerry_small.jpg" alt="Jerry Jones"/></a></p>
						<h2><a href="user.html" title="View Jerry Jones' Profile">Jerry Jones</a></h2>
						<p>Nice work guys!</p>
						<p class="comments">13 minutes ago</p>
						
						<div class="secondary">
							<a href="#" title="Flag &ldquo;Jerry Jones&rsquo; Comment&rdquo;" class="flag">Flag</a>
						</div><!-- END SECONDARY -->
					</article>
					
					<article class="with-secondary">
						<p class="item-image"><a href="user.html" title="View Olivier Lacan's Profile"><img src="images/avatars/olivier_small.jpg" alt="Olivier Lacan"/></a></p>
						<h2><a href="user.html" title="View Olivier Lacan's Profile">Olivier Lacan</a></h2>
						<p>Energistically maximize client-focused scenarios vis-a-vis professional scenarios. Dynamically actualize viral ROI after functionalized alignments. Distinctively disintermediate adaptive testing procedures before standards compliant opportunities. Collaboratively administrate cross-unit outsourcing through sticky customer service.</p>
						<p>Proactively target turnkey markets via distinctive innovation. Intrinsicly scale focused deliverables after error-free communities. Distinctively whiteboard client-centered technologies before leveraged outsourcing.</p>
						<p class="comments">7 minutes ago</p>
						
						<div class="secondary">
							<a href="#" title="Flag &ldquo;Olivier Lacan&rsquo;s Comment&rdquo;" class="flag">Flag</a>
						</div><!-- END SECONDARY -->
					</article>
					
					<article>
						<p class="item-image"><a href="user.html" title="View Your Profile"><img src="images/avatars/anthony_small.jpg" alt="Anthony Colangelo"/></a></p>
						<h2><a href="user.html" title="View Your Profile">You</a></h2>
					
						<form action="#" method="post">
							<textarea class="placeholder">Write your comment...</textarea>
							<input type="submit" value="Post Comment" />
						</form>
					</article>
				</section><!-- END COMMENTS -->
			</section><!-- END CONTENT -->
		</section><!-- END WRAP -->
		<footer>
			<nav>
				<ul>
					<li><a href="#" title="WDD Social | Developer Resources">Developer</a></li>
					<li><a href="#" title="WDD Social | About Us">About</a></li>
					<li><a href="#" title="WDD Social | Contact Us">Contact</a></li>
					<li><a href="#" title="WDD Social | Terms of Service">Terms</a></li>
					<li><a href="#" title="WDD Social | Privacy Policy">Privacy</a></li>
				</ul>
			</nav>
			<small>&copy; 2011 WDD Social</small>
		</footer>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
		<script>!window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-1.4.2.js"%3E%3C/script%3E'))</script>
		<script src="js/plugins.js"></script>
		<script src="js/libs/jquery.easing.1.3.js"></script>
		<script src="js/script.js"></script>
		<!--[if lt IE 7 ]>
			<script src="js/libs/dd_belatedpng.js"></script>
			<script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
		<![endif]-->
	</body>
</html>